.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    z-index: 1000;

}
.header_menu{
    margin: 10px 30px;
    .header_home{
        color: white;
    }
}
.btn_header{
    padding: 10px 30px;
    font-weight: bold;
    background-color: blue;
    color: white;
    &:hover{
        cursor: pointer;
    }
}